* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #dbeafe, #e0e7ff);
}

.main {
  padding: 3rem 1.5rem;
}

.main__container {
  max-width: 1200px;
  margin: 0 auto;
}
